// ---------- COLORS ---------- //
$color-primary: #777; 
$color-secondary: #51ddfc;
$color-tertiary: #ccc;
$color-lightest: #fff;
$color-accent: #58e1c1; 

$color-info: #927bc1;
$color-warn: #fd7856;
$color-err: #e4757a;
$color-success: #63cc82;

$color-theme-3: #deb2ee;
$color-theme-4: #7ee6fd;
$color-theme-5: #88d9a0;
$color-theme-6: #4da2bb;
$color-theme-7: #ec9fa3;
$color-theme-8: #fd9f85;
$color-theme-12: #80e8d1;


// ---------- MEASURMENTS ---------- //
$media-break-med: 768px;
