// ---------- COLORS ---------- //
$color-primary: #777; 
$color-secondary: #51ddfc;
$color-tertiary: #ccc;
$color-lightest: #fff;
$color-accent: #58e1c1; 

$color-info: #927bc1;
$color-warn: #fd7856;
$color-err: #e4757a;
$color-success: #63cc82;

$themes: (
    '1': #927bc1,
    '2': #fd7856,
    '3': #deb2ee,
    '4': #7ee6fd,
    '5': #88d9a0,
    '6': #4da2bb,
    '7': #ec9fa3,
    '8': #fd9f85,
    '9': #e4757a,
    '10': #63cc82,
    '11': #51ddfc,
    '12': #80e8d1,
);


// ---------- MEASURMENTS ---------- //
$mq-med: 768px;
