// ---------- BUTTON STYLES ---------- //
.btn {
  margin-top: 15px;
  width: 100%;
  color: $color-lightest;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  @include mq($mq-med) {
    padding: 10px 30px;
  }

  & + .btn {
    @include mq($mq-med) {
      margin-left: 10px;
    }
  }
}

.default {
  background-color: $color-secondary;
  &:hover {
    background-color: lighten-color($color-secondary);
  }
}

.error {
  background-color: $color-err;
  &:hover {
    background-color: lighten-color($color-err);
  }
}

.info {
  background-color: $color-info;
  &:hover {
    background-color: lighten-color($color-info);
  }
}

.success {
  background-color: $color-success;
  &:hover {
    background-color: lighten-color($color-success);
  }
}

.warning {
  background-color: $color-warn;
  &:hover {
    background-color: lighten-color($color-warn);
  }
}
  
  