/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;
  @include mq($mq-med) {
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
  @include mq($mq-med) {
    flex-direction: row;
  }
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
  @include mq($mq-med) {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
}

[class^=col] + [class^=col] {
  @include mq($mq-med) {
    margin-left: 10px;
  }
}


@each $theme, $col in $themes {
  .theme.col-#{$theme} {
    background-color: #{map-get($col, color)};
  }
  .col-#{$theme} {
    @include mq($mq-med) {
      flex-basis: #{map-get($col, size)};
    }
  }
}

  
.card {
  flex-basis: 100%;
}

.centered {
  @include mq($mq-med) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
  
  